<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>SEG31-DESPATT-GALANG_CANTORES-db-search-errorpage-v1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>SeeAllProductsServlet</servlet-name>
    <servlet-class>controller.SeeAllProductsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SeeAllProductsServlet</servlet-name>
    <url-pattern>/seeproducts.action</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ProcessPizzaServlet</servlet-name>
    <servlet-class>controller.ProcessPizzaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProcessPizzaServlet</servlet-name>
    <url-pattern>/processpizza.action</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ProcessPaymentServlet</servlet-name>
    <servlet-class>controller.ProcessPaymentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProcessPaymentServlet</servlet-name>
    <url-pattern>/processpayment.action</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>OrderServlet</servlet-name>
    <servlet-class>controller.OrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderServlet</servlet-name>
    <url-pattern>/processorder.action</url-pattern>
  </servlet-mapping>
</web-app>